/* Bebas Neue  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Poppins&display=swap");

/* font-family: "Bebas Neue", sans-serif;
font-family: "DM Serif Display", serif;
font-family: "Poppins", sans-serif; */

/* Bebas Neue  */

/* Alumni Sans Inline One  */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=DM+Serif+Display&family=Poppins&display=swap");

/* font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'DM Serif Display', serif;
font-family: 'Poppins', sans-serif; */

/* Alumni Sans Inline One  */

body {
  font-family: "Bebas Neue", sans-serif;
  font-family: "DM Serif Display", serif;
  font-family: "Poppins", sans-serif;
  margin: auto;
  background-color: #ffe6e6;
}

/* home page /////////////// */
header {
  background-color: greenyellow;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

header img {
  position: absolute;
  top: -62px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-family: "DM Serif Display", serif;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
  background-color: #ffc1c1;
  padding: 5px;
  transform: scale(1.2);
}

/* welcome  */

.welcome-section {
  text-align: center;
  padding: 50px;
}

.welcome-section h1 {
  font-size: 36px;
  color: #333;
}

.welcome-section p {
  font-size: 18px;
  color: #555;
}
/* welcome  */

/* content container  */

.content {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.content img {
  height: 270px;
  width: 550px;
  padding: 10px;
}

.content p {
  text-align: justify;
  padding: 5px;
}

#home-content {
  text-align: center;
  color: rgb(139, 4, 4);
}

/* content container  */

/* home page  ///////////////*/
