/* Bebas Neue  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display&family=Poppins&display=swap");

/* font-family: "Bebas Neue", sans-serif;
font-family: "DM Serif Display", serif;
font-family: "Poppins", sans-serif; */

/* Bebas Neue  */

/* Alumni Sans Inline One  */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=DM+Serif+Display&family=Poppins&display=swap");

/* font-family: 'Alumni Sans Inline One', sans-serif;
font-family: 'DM Serif Display', serif;
font-family: 'Poppins', sans-serif; */

/* Alumni Sans Inline One  */
